.cc-contenido {background-color: lightgray;
    width: 100%;
    min-height: 70vh;
    float:left;
    margin-top:4em;
    margin-bottom:3em;
    text-align: justify;}

.cc-ficha {background-color: white;
          border-radius: 25px;
          width: 50%;
          height: 50vh;
          margin: auto;
          margin-top: 80px;
}

.cc-img {
max-width: 50%;
max-height: 50vh;
float:left;
padding-left: 15px;
padding-right: 30px;
}

.cc-imgMasc {
  max-width: 3%;
  max-height: 5vh;
  float:left;
  padding-left: 5px;
  padding-right: 5px;
  }
  
.cc-dato {
  font-size: 20px;
  color:green;
  font-style: italic ;
}

p.cc-destacado {padding-left:10px;
      font-size: 15px;
      font-weight: bold;}
p .cc-semidestacado {
font-size: 15px;
text-decoration: underline;}

p.cc-categoria {font-size: 20px;
       justify-self: start;
       margin-top: 0;
       padding-left: 15px;}

p.cc-figura {
  margin: 0;
  font-size: 25px;
  font-weight: bold;
  color:green;
  padding: .2em .5em;
  justify-self: start;}